body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
#quote-container {
    margin: 20px;
}
#generate-button {
    padding: 7px 7px;
    font-size: 16px;
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.button {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    background-color: skyblue;
}